body {
    margin: 0;
    height:100vh;
    width: 100vw;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container {
    height: 500px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 32px;
    flex-basis: 600px;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
}

.interactives {
    display: flex;
    gap: 16px;
}

.option {
    display: flex;
    flex-direction: column;
}

.option-labels {
    display: flex;
    margin-bottom: 10px;
}

.sketchboard {
    border: 2px solid black;
    border-radius: 5px;
    height: 400px;
    width: 400px;
}